:root {
    --background : rgb(241, 231, 225);
    --primaryColor: rgb(68, 58, 58);
    --onlineColor: rgb(148, 189, 147);
    --offlineColor: rgb(48, 80, 104);
    --offlineTextColor: rgb(109, 149, 180);
  }
  
html{
    height: 100%;
}
  
html, body{
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: inherit;
}
  
body{
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(100px, 800px) 1fr;
    grid-template-rows: 1fr minmax(40px, auto);
    grid-gap: 0;
    text-align: center;
    background-color: var(--background);
    color: var(--background);
    font-family: calibri;
}

#container{
    grid-column: 2;
    width: 100%;
}

.header{
    width: 100%;
    background-color: var(--primaryColor);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    padding: 15px 0px 15px 0px;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

.streamer{
    display: grid;
    grid-template-columns: 100px 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
            "icon  title  title"
            "icon  status status";
    width: 100%;
    margin-bottom: 3px;
    align-items: center;
    justify-content: center;
}

.streamer:hover{
    transform: translateX(10px);
}

.streamerIcon{
    grid-area: icon;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
}

.streamerTitle{
    grid-area: title;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    font-size: 1.1rem;
}

.streamerStatus{
    grid-area: status;
    margin: 10px;
    font-style: oblique;
}

.statusOnline{
    color: var(--primaryColor);
    background-color: var(--onlineColor);
}

.statusOffline{
    color: var(--offlineTextColor);
    background-color: var(--offlineColor);
}

.footer{
    grid-row: 2;
    grid-column: 2;
    background-color: var(--primaryColor);
    width: 100%;
    line-height: 40px;
}

@media (min-width: 500px){
    .streamer{
        grid-template-areas: 
                "icon  title  status"
                "icon  title  status";
    }
}